html {
    scroll-behavior: smooth;
}

a:link {
    color:#24abff;
}

a:visited {
    color:#5390b6;
}

a:hover {
    color:#5e7b8d;
}

a:active {
    color:#1d4761;
}

.main {
    overflow: hidden;
}

.scrollButton {
    opacity: 0.4;
    display:inline-block;
    margin-left:50%;
    background:white;
    width: 250px;
    font-size: 16px;
    font-family: monospace;
    border-radius: 30px;
    transform: translate(-50%, 1760%);
    height: 50px;
    position: absolute;
    text-align: center;
    z-index: 3;
    line-height: 50px;
}

.scrollButton:hover {
    opacity:1;
}

body {
    background-color: #3679a3;
    font-family: "Questrial", sans-serif;
    width: 100%;
    height:4450px;
    margin:0;
    overflow-x:hidden;
}
/*
.leftbar {
    width: 15%;
    height:4450px;
    background-color: #a3cbff;
    z-index: 10;
    position:absolute;
}

.rightbar {
    width: 15%;
    height:4450px;
    background-color: #a3cbff;
    z-index: 10;
    position:absolute;
    right:0px;
}
*/
.heading {
    background-image:linear-gradient(#e2f4ff, #abd3fd, #367eaa);;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
    padding-top: 100px;
    text-align: center;
    overflow: hidden;
}

.heading .name {
    font-size: 45px;
    animation: fadeInTop 2s 0s ease-in-out;
}

.heading .profilepicture {
    border-radius: 50%;
    width: 280px;
    padding: 30px;
    animation: fadeInTop 2s 0s ease-in-out;
}

@keyframes fadeInTop {
    0% {
        opacity:0;
        transform: translateY(-200%);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes fadeOutTop {
    0% {
        opacity:1;
        transform: translateY(0);
    }
    100% {
        opacity:0;
        transform: translateY(-600%);
    }
}

@keyframes fadeOutBottom {
    0% {
        opacity:1;
        transform: translateY(0);
    }
    100% {
        opacity:0;
        transform: translateY(600%);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity:0;
        transform: translateY(50%);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

.heading .socialsbar {
    position:static;
    height:100px;
    background-color: #69b5e1;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    animation: barSlideIn 0s 0s ease-in-out;
    animation-duration: 0s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transition:
        opacity 1s;
}

.socialsbar .socialbutton {
    padding:20px;
    
}

.socialsbar .socialbutton :nth-child(1){
    width:50px;
}
.socialsbar .socialbutton :nth-child(2){
    width:50px;
}
.socialsbar .socialbutton :nth-child(3){
    width:50px;
}
.socialsbar .socialbutton :nth-child(4){
    width:50px;
}

@keyframes barSlideIn {
    0% {
        transform:translateX(200%);
    }
    100% {
        transform:translateX(0);
        opacity: 1;
    }
}

@keyframes barSlideOut {
    0% {
        transform:translateX(0);
    }
    100% {
        transform:translateX(100%);
        opacity: 0;
    }
}

@keyframes barSlideInLeft {
    0% {
        transform:translateX(-100%);
    }
    100% {
        transform:translateX(0);
        opacity: 1;
    }
}

@keyframes barSlideOutLeft {
    0% {
        transform:translateX(0);
    }
    100% {
        transform:translateX(-200%);
        opacity: 0;
    }
}



/*.parallax-cont {
    display: block;
    overflow: hidden;
}
*/

.aboutme {
    position: absolute;
    left:20%;
    width:60%;
    height:100px;
    visibility: hidden;
    animation: fadeInTop 1s 0s ease-in-out;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transition:
        opacity 1s;
    
}

.aboutme .aboutmetitle {
    width:60%;
    padding: 30px;
    padding-top:1%;
    text-align: left;
    font-size: 45px;
    color: rgb(162, 233, 255);
    height:7%;
    left: 20%;
    padding-top: 150px;
    animation-duration:0.75s;
}

.aboutme .aboutmebox {
    font-size:35px;
    line-height: 50px;
    position:absolute;
    top:330px;
    text-align:left;
    padding: 30px;
    border-radius: 10px;
    width:100%;
    height:550px;
    color:#bedbed;
}


.projects {
    font-size:35px;
    line-height: 45px;
    position: absolute;
    left:20%;
    width:56%;
    height:550px;
    top:1650px;
    visibility: hidden;
    animation: fadeInTop 1s 0s ease-in-out;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transition:
        opacity 1s;    
}

.projects .projectstext {
    padding: 30px;
    padding-top:1%;
    text-align: left;
    font-size: 45px;
    color: rgb(162, 233, 255);
    height:7%;
    left: 20%;
    padding-top: 100px;
    animation-duration:0.75s;
}

.projects .projectsbox {
    padding: 30px;
    border-radius: 10px;
    width:100%;
    height:550px;
    color:#bedbed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
}

.projects .projectsbox .project {
    border-radius: 10px;
    width: 30%;
    height: 100%;
    overflow: hidden;
    font-size: 30px;
    transition:all 1s; 
}

.projects .projectsbox .project:hover {
    border-radius: 50px;
}

.projects .projectsbox .project .projecttitle {
    padding:20px;
    text-align: center;
    font-size: 15px;
}

.projects .projectsbox .project .projectimg {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition:all 1s;
}

.projects .projectsbox .project:hover .projectimg {
    transform: translateY(80%);
}

.projects .projectsbox .project:hover .projectdesc {
    opacity: 100%;
}

.projects .projectsbox .project .projectdesc {
    font-size: 20px;
    word-wrap: break-word;
    width:30%;
    position:absolute;
    top:75%;
    text-align: center;
    opacity: 0%;
    transition:all 3s;
}

.project:nth-child(1) {
    background-color: rgb(56, 182, 255);
    order:0;
}

.project:nth-child(2) {
    background-color:rgb(89, 194, 255);
    order:1;
}

.project:nth-child(3) {
    background-color:rgb(125, 207, 255);
    order:2;
}

.contact {
    position: absolute;
    top:2750px;
    width:100%;
    height:250px;
    visibility: hidden;
    animation: fadeInTop 1s 0s ease-in-out;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    transition:
        opacity 1s;
}

.contact .contacttext {
    padding: 23%;
    padding-top:1%;
    width:100%;
    font-size: 70px;
    color: rgb(162, 233, 255);
    height:7%;
    left: 20%;
    animation-duration:0.75s;
}

.contact .contactbox {
    font-size:35px;
    line-height: 45px;
    background-color:white;
    position:absolute;
    top: 100px;
    width:100%;
    height:inherit;
    color:#456375;
    padding:5%;
    margin:0;
}

.contactboxtext {
    position:absolute;
    top:0;
    width:60%;
    height:inherit;
    left:20%;
    padding:5%;
}

.sidebar {
    background-color:#1d4761;
    color: white;
    border-radius:10px;
    z-index: 2;
    width: 5%;
    height: 30%;
    position:fixed;
    overflow: hidden;
    right:0%;
    top:300px;
    transition:
        width 1s,
        transform 1s,
        background-color 2s,
        color 2s;
}

.sidebar:hover {
    width:22%;
}

.sidebar .playtext {
    position:absolute;
    left: -15px;
    font-size: large;
    top:46%;
    transform:rotate(90deg);
}

#audio1 {
    position:absolute;
    width:300px;
    top:70px;
    left:100px;
}
#audio2 {
    position:absolute;
    width:300px;
    top:130px;
    left:100px;
}
#audio3 {
    position:absolute;
    width:300px;
    top:190px;
    left:100px;
}

/*
.textbox {
    border-radius: 10px;
    width: 12%;
    min-height: 100px;
    min-width: 100px;
    background-size:cover !important;
    visibility: hidden;*
    position:absolute;
    background-position: center !important;
    transform: translate(0px,0px);
    overflow: hidden;
    font-size: 30px;
    transition:all 1s; 
    
    }
    .hide {
        opacity: 0;
    }
    .show {
        opacity: 1;
    }


.textbox:nth-child(2){
    background:linear-gradient(to bottom left, #bedbed, rgb(244, 162, 255));
    right:7%;
    top:2450px;
    animation-duration:0.75s;
}
.textbox:nth-child(3){
    background: linear-gradient(to bottom left, rgb(27, 233, 154),#bedbed);
    right:3%;
    top:2200px;
    animation-duration:1.2s;
}
.textbox:nth-child(4){
    background: linear-gradient(rgb(0, 238, 255), #bedbed);
    left:6%;
    top:2850px;
    animation-duration:1.75s;
}
.textbox:nth-child(5){
    background: linear-gradient(to top right, #bedbed, rgb(221, 136, 255));
    width:20%;
    left:4%;
    top:1500px;
    animation-duration:0.3s;
}


.textbox:nth-child(7){
    background: linear-gradient(to top right, #67bee0, rgb(255, 0, 179));
    width:50%;
    left:4%;
    top:3100px;
    animation-duration:0.3s;
}
*/

@keyframes fadeInAbMeText {
    0% {
        opacity:0;
        width:0px;
        font-size: 0px;
    }
    100% {
        opacity: 1;
        width:50%;
    }
}

@keyframes fadeOutAbMeText {
    0% {
        opacity: 1;
        width:15%;
        font-size:100%;
        
    }
    100% {
        opacity:0;
        width:0;
        font-size:0px;
    }
}


@keyframes fadeIn {
    0% {
        opacity:0;
        width:0;
    }
    100% {
        opacity: 1;
        width:10%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        
    }
    100% {
        opacity:0;
        height:0;
        width:0;
    }
}

/*
.galacticolour {
    width:90%;
    padding-top:10%;
}

.textbox .innertext {
    opacity: 1;
    text-align: center;
    padding-top:10%;
    transition:
        opacity 0.5s,
        transform 1s 0.5s
        
}

.textbox:hover .innertext {
    opacity:0;
    transform:translateY(-200%);
}

@keyframes fadeTextIn {
    0% {
        opacity: 0;
        font-size:0px;
    }
    100% {
        opacity: 1;
        font-size:100%;
    }
}


.textbox .innerimage {
    width:70%;
    transform:translate(20%, 500%);
    opacity:0;
    transition:
        opacity 0.5s,
        transform 1s 0.5s;
}


.textbox:hover .innerimage {
    opacity:1;
    transform:translate(20%, -35%);
}

*/